html {
  font-size: 15px;
  height: 100%;
}

body {
  color: #523239;
  background-color: #f1e2be;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  font-family: 'Noto Sans JP', sans-serif;
  flex: 1;
}

.posts {
  .post {
    .additive {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}  

.title {
  font-family: 'Kosugi Maru', sans-serif;
  display: flex;
  align-items: baseline;
  height: 10vh;
}

.subtitle {
  font-size: 1.1rem;
}

h1 {
  font-size: 3.0rem;
  color: #fa9a50;
}

.orange {
  color: #fa9a50;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.4rem;
}

.pagination{
  font-seize: 1.3rem;
  justify-content: center;
}

.footer {
  text-align: center;
}

.breadcrumb {
  background-color: #f1e2be;
  font-size: 1.1rem;
}

.word {
  width: 100%;
  display: flex;
}

.comment {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #523239;
  font-size: 1.0rem;
  background: #f1ccbe;
  border-radius: 15px;
}

.comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #f1ccbe;
}

.comment p {
  margin: 0;
  padding: 0;
}