body {
  color: #523239;
  background-color: #ffe0b6;
}

.post{
  font-family: 'Noto Sans JP', sans-serif;
}

.posts{
  .post {
    .additive {
      font-size: 1.2em;
      font-weight: bold;
    }
    .purpose {
      font-size: 1.0em;
    }
    
    .dangerous {
      font-size: 1.0em;
    }
    .lisk {
      font-size: 1.0em;
    }
  }
}  

.footer {
  text-align: center;
}