body {
  color: #523239;
  background-color: #ffe0b6;
}

.post {
  font-family: "Noto Sans JP", sans-serif;
}

.posts .post .additive {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .purpose {
  font-size: 1em;
}

.posts .post .dangerous {
  font-size: 1em;
}

.posts .post .lisk {
  font-size: 1em;
}

.footer {
  text-align: center;
}

